body{
    font-family: cursive, sans-serif, Arial;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1{
    text-align: center;
    color: #333;
    margin-top:0 ;
}

.progress-container{
    background-color: #e0e0e0;
    border-radius: 20px;
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 ;
    box-sizing: border-box;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#progressBar{
    background-color: #aaa;
    height: 100%;
    width: 100%;
    margin-left: px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.navigation{
    display: flex;
    justify-content: space-between;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #222;
}

.progress-container span:first-of-type{
    position: fixed;
    margin-left: 40%;
}

.progress-container span:last-child{
    position: absolute;
    margin-left: 75%;
}

#showAnswer{
    background-color: #aaa;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media (max-width: 600px) {
    #showAnswer{
        background-color: #222;
    }
}